In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Downloading: 100%|█████████████████| 8.72M/8.72M [00:02<00:00, 3.33MB/s]

In [4]:
url = 'http://quotes.toscrape.com/'
browser.visit(url)

In [5]:
# Parse the HTML
html = browser.html
html_soup = soup(html, 'html.parser')

In [8]:
# Scrape the Title
h2 = html_soup.find('h2')
title = h2.text
print(h2)
print(title)

<h2>Top Ten tags</h2>
Top Ten tags

In [14]:
# Scrape the top ten tags
tag_box = html_soup.find('div', class_='tags-box')
# tag_box
tags = tag_box.find_all('a', class_='tag')
#[x.text for x in tags]

for tag in tags:
    word = tag.text
    print(word)

love
inspirational
life
humor
books
reading
friendship
friends
truth
simile

In [16]:
browser.quit()

WARNING:urllib3.connectionpool:Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd4107596a0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/62e08e8194b5240017c8d3b5ee0b0879
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd4516d9c10>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/62e08e8194b5240017c8d3b5ee0b0879
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd4516943d0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/62e08e8194b5240017c8d3b5ee0b0879
WARNING:urllib3.connectionpool:Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd4107591f0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/62e08e8194b5240017c8d3b5ee0b0879
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd4107595b0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/62e08e8194b5240017c8d3b5ee0b0879
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd4107596d0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/62e08e8194b5240017c8d3b5ee0b0879
WARNING:urllib3.connectionpool:Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd410759f10>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/62e08e8194b5240017c8d3b5ee0b0879
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd41077b070>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/62e08e8194b5240017c8d3b5ee0b0879
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd41077b0a0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/62e08e8194b5240017c8d3b5ee0b0879

In [27]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

url = 'http://quotes.toscrape.com/'
browser.visit(url)
html = browser.html
quote_soup = soup(html, 'html.parser')

In [19]:
# Scrape all quotes on a single page
quotes = quote_soup.find_all('span', class_='text')

for quote in quotes:
    print(quote.text)

“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”
“It is our choices, Harry, that show what we truly are, far more than our abilities.”
“There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.”
“The person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.”
“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”
“Try not to become a man of success. Rather become a man of value.”
“It is better to be hated for what you are than to be loved for what you are not.”
“I have not failed. I've just found 10,000 ways that won't work.”
“A woman is like a tea bag; you never know how strong it is until it's in hot water.”
“A day without sunshine is like, you know, night.”

In [21]:
browser.links.find_by_partial_text('Next').click()

In [30]:
for x in range(1, 6):
   html = browser.html
   quote_soup = soup(html, 'html.parser')
   quotes = quote_soup.find_all('span', class_='text')
   for quote in quotes:
      print('page:', x, '----_----')
      print(quote.text)
   browser.links.find_by_partial_text('Next').click()

page: 1 ----_----
“The truth." Dumbledore sighed. "It is a beautiful and terrible thing, and should therefore be treated with great caution.”
page: 1 ----_----
“I'm the one that's got to die when it's time for me to die, so let me live my life the way I want to.”
page: 1 ----_----
“To die will be an awfully big adventure.”
page: 1 ----_----
“It takes courage to grow up and become who you really are.”
page: 1 ----_----
“But better to get hurt by the truth than comforted with a lie.”
page: 1 ----_----
“You never really understand a person until you consider things from his point of view... Until you climb inside of his skin and walk around in it.”
page: 1 ----_----
“You have to write the book that wants to be written. And if the book will be too difficult for grown-ups, then you write it for children.”
page: 1 ----_----
“Never tell the truth to people who are not worthy of it.”
page: 1 ----_----
“A person's a person, no matter how small.”
page: 1 ----_----
“... a mind needs books as a sword needs a whetstone, if it is to keep its edge.”

ElementDoesNotExist: no elements could be found with link by partial text "Next"

In [32]:
browser.quit()

WARNING:urllib3.connectionpool:Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd451722040>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/bb0479b002487a69a09bb12869a3a516
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd45177efd0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/bb0479b002487a69a09bb12869a3a516
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd4516d98b0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/bb0479b002487a69a09bb12869a3a516
WARNING:urllib3.connectionpool:Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd42139aa60>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/bb0479b002487a69a09bb12869a3a516
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd42139a9d0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/bb0479b002487a69a09bb12869a3a516
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd42139a910>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/bb0479b002487a69a09bb12869a3a516
WARNING:urllib3.connectionpool:Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd4517af8b0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/bb0479b002487a69a09bb12869a3a516
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd4517afbe0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/bb0479b002487a69a09bb12869a3a516
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd4517afac0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/bb0479b002487a69a09bb12869a3a516

In [34]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

# Visit the Mars Facts site
url = 'https://galaxyfacts-mars.com/'
browser.visit(url)

html = browser.html
html_soup = soup(html, 'html.parser')

In [36]:
table = html_soup.find('table', class_='table-striped')

In [40]:
mars_facts = {}
rows = table.find_all('tr')
for row in rows:
    row_heading = row.find('th').text
    row_data = row.find('td').text.strip()
    mars_facts[row_heading] = row_data
print(mars_facts)

{'Equatorial Diameter:': '6,792 km', 'Polar Diameter:': '6,752 km', 'Mass:': '6.39 × 10^23 kg (0.11 Earths)', 'Moons:': '2 ( Phobos  &  Deimos )', 'Orbit Distance:': '227,943,824 km (1.38 AU)', 'Orbit Period:': '687 days (1.9 years)', 'Surface Temperature:': '-87 to -5 °C', 'First Record:': '2nd millennium BC', 'Recorded By:': 'Egyptian astronomers'}

In [42]:
browser.quit()

WARNING:urllib3.connectionpool:Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd45187d520>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/5fdbc53a12ce15a994ef255566db3d7f
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd41077d160>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/5fdbc53a12ce15a994ef255566db3d7f
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd410759cd0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/5fdbc53a12ce15a994ef255566db3d7f
WARNING:urllib3.connectionpool:Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd400065a60>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/5fdbc53a12ce15a994ef255566db3d7f
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd4000658e0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/5fdbc53a12ce15a994ef255566db3d7f
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd4000659a0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/5fdbc53a12ce15a994ef255566db3d7f
WARNING:urllib3.connectionpool:Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd40004d100>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/5fdbc53a12ce15a994ef255566db3d7f
WARNING:urllib3.connectionpool:Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd40004d1f0>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/5fdbc53a12ce15a994ef255566db3d7f
WARNING:urllib3.connectionpool:Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<urllib3.connection.HTTPConnection object at 0x7fd40004d250>: Failed to establish a new connection: [Errno 61] Connection refused')': /session/5fdbc53a12ce15a994ef255566db3d7f

In [43]:
import pandas as pd

In [45]:
df = pd.read_html('https://galaxyfacts-mars.com')
df

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [48]:
mars_df = df[0]
mars_df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [53]:
mars_df.columns=["description" , 'mars' , 'earth']
mars_df.drop([0],axis = 0,inplace = True)
mars_df

          description             mars            earth
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C